@mixin box-shadow {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  @include box-shadow;
}

.card {
  @include box-shadow;
}

.accordion .card {
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}

$theme-colors: (
  "primary": #15492f,
  "secondary": #463f3e,
  "success": #21bc67,
  "warning": #c6b133,
  "danger": #bc3943,
  "info": #c77232,
);

@import "node_modules/bootstrap/scss/bootstrap";
