<div class="card-body">
	<div class="d-flex justify-content-center" *ngIf="isInfoLoading">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div *ngIf="!isInfoLoading">
		<p>
			Module Name: {{ module?.moduleName }}<br>
			Module IP: {{ module?.ipAddress }}<br>
			Version: {{ module?.version }}<br>
		</p>
	</div>
	<div class="row mb-0">
		<button type="button" class="btn btn-secondary m-1" (click)="file.click()">Update</button>
		<input type="file" #file style="visibility: hidden;" (change)="onUploadUpdate($event); open(firmwareUpdate)"
			accept=".bin" />
		<div class="col p-0"></div>
		<button type="button" class="btn btn-warning m-1" [routerLink]="['/modules', module?.id, 'edit']">Edit</button>
		<button type="button" class="btn btn-danger m-1" (click)="deleteModule(module?.id)">Delete</button>
	</div>
</div>
<ng-template #firmwareUpdate let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="firmware-update-modal">Uploading Update</h4>
	</div>
	<div class="modal-body">
		<div class="progress form-group">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
			</div>
		</div>
		<div *ngIf="updateProgress > 0">
			<p>Updating...</p>
			<div class="progress form-group">
				<div class="progress-bar progress-bar-striped bg-success" role="progressbar"
					[style.width.%]="updateProgress"></div>
			</div>
		</div>
		<p>{{ response?.toString() }}</p>
	</div>
</ng-template>