<div class="container p-0 pb-2">
	<div class="row m-0">
		<div class="col p-0"></div>
		<button class="btn btn-primary" routerLink="/plants/create">New Plant</button>
	</div>
</div>
<div class="d-flex justify-content-center" *ngIf="isLoading">
	<div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<app-list-view class="list-view" [_listItems]="plantList" *ngIf="!isLoading">
	<app-plant-list-item (deleted)="getPlants()" *item="let item" [_plant]="item"></app-plant-list-item>
</app-list-view>