<div class="d-flex justify-content-center" *ngIf="isLoading">
	<div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-6">
		<h2>Recent Activity</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Plant</th>
					<th scope="col">Soil Moisture</th>
					<th scope="col">Last Watered</th>
				</tr>
			</thead>
			<tbody>
				<tr class="cursor-pointer" *ngFor="let plant of plantList" (click)="getPlantInfo(plant)">
					<th scope="row">{{ plant.name }}</th>
					<td>90%</td>
					<td>Today, 14:51</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<h2>Monitoring {{ selectedPlant?.name }} </h2>
		<div style="display: block;">
			<canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
				[options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
				[chartType]="lineChartType"></canvas>
		</div>
	</div>
</div>