<form [formGroup]="form" (submit)="onSaveModule()">
	<div class="form-group">
		<label for="Name">Module Name</label>
		<input formControlName="name" type="text" name="Name" class="form-control" placeholder="Module Name">
	</div>
	<div class="form-group">
		<label for="moduleSelect">Select a Module</label>
		<select class="form-control" id="moduleSelect" formControlName="module">
			<option *ngFor="let module of rawModuleList" [ngValue]="module">{{ module.name }}</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">
		<div *ngIf="!isLoading">
			Save
		</div>
		<div *ngIf="isLoading">
			<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
			Loading...
		</div>
	</button>
</form>